.detail__container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: black;
}

.detail__content {
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  font-weight: 300;
  color: white;
}

.detail__trailer {
  width: 560px;
  height: 315px;
}
